@font-face {
  font-family: Karla;
  src: url("./fonts/Karla/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Karla;
  src: url("./fonts/Karla/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  /* color */
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-gray-200: #dadada;
  --colors-gray-50: #fafafa;
  --colors-gray-700: #837d88;
  --colors-gray-950: #2c2830;
  --colors-olive-400: #3d3e14;
  --colors-purple-500: #52313a;
  --colors-yellow-500: #af7b01;
  --colors-yellow-950: #db9f00;
  /* number */
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

header {
  display: flex;
  height: 80px;
  padding: var(--spacing-0, 0);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-0, 0);
  position: relative;
}

nav:first-of-type {
  display: flex;
  width: 87%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 22px;
  color: #fff;
}

nav:last-of-type {
  width: 100%;
  height: calc(100dvh - 80px);
  background: #2c2830;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 80px;
  overflow: hidden;
  z-index: 5;
}

header ul {
  display: flex;
  width: 87%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  margin: 50px 0;
}

li {
  width: 100%;
  text-align: center;
}

header li a {
  width: 100%;
  text-decoration: none;
  color: var(--colors-white);

  /* Text Preset 6 - Karla Bold - 20px - 200% Line Height - 1.5px Line Spacing */
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.5px;

  border: 1.5px solid transparent;
}

header li:last-of-type > a:last-of-type {
  border: 1.5px solid var(--colors-white);
  height: 56px;
}

@media (hover: hover) {
  header li a:hover {
    background-color: var(--colors-gray-700);
  }
}

main section:first-of-type {
  overflow: hidden;
  position: relative;
  height: 868px;

  width: 100%;

  background: var(--colors-yellow-950, #db9f00);
  display: flex;
  flex-direction: column;

  align-items: center;
}

main section:first-of-type article {
  display: flex;
  width: 87%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  margin-top: 92px;
}

main section:first-of-type div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  align-self: stretch;
}
h1 {
  color: var(--colors-white, #fff);
  text-align: center;
  margin: 0;

  /* Text Preset 3 - DM Serif  Display Regular - 48px - 100% Line Height - -0.5px Line Spacing */
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 48px */
  letter-spacing: -0.5px;
}

h2 {
  color: var(--colors-gray-950);
  text-align: center;

  /* Text Preset 3 - DM Serif  Display Regular - 48px - 100% Line Height - -0.5px Line Spacing */
  font-family: "DM Serif Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 48px */
  letter-spacing: -0.5px;
  margin: 40px 0 0;
}
section:first-of-type p {
  color: var(--colors-white, #fff);
  text-align: center;
  margin: 0;

  /* Text Preset 7 - Karla Regular - 16px - 162.5% Line Height - 0px Line Spacing */
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
}

nav:first-child img {
  height: 30px;
}
nav:first-child button {
  border: 1px solid transparent;
  background: transparent;
  padding: 0;
}

main a {
  display: flex;
  width: 146px;
  height: 40px;
  padding: var(--spacing-0, 0);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-0, 0);
  border: 1.5px solid var(--colors-white, #fff);
}

a {
  text-decoration: none;
}

a span {
  color: var(--colors-white, #fff);
  text-align: center;
  text-transform: uppercase;
  /* Text Preset 8 - Karla Bold - 13px - 115% Line Height - 1.5px Line Spacing */
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 14.95px */
  letter-spacing: 1.5px;
}

section:nth-child(2 of section) {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
  margin: 140px 0;
  position: relative;
}

section:nth-child(2 of section) > div:first-of-type {
  display: flex;
  width: 87%;
  flex-direction: column;
  gap: var(--spacing-1000, 80px);
}

section:nth-child(2 of section) > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-700);
  align-self: stretch;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

article h3 {
  color: var(--colors-gray-950, #2c2830);
  text-align: center;

  /* Text Preset 5 - DM Serif  Display Regular - 28px - 135% Line Height - -0.5px Line Spacing */
  font-family: "DM Serif Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 37.8px */
  letter-spacing: -0.5px;
}

article p {
  color: var(--colors-gray-700, #837d88);
  text-align: center;

  /* Text Preset 7 - Karla Regular - 16px - 162.5% Line Height - 0px Line Spacing */
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
}

article img {
  display: flex;
  width: 86px;
  height: 86px;
  padding: var(--spacing-0, 0);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-0, 0);

  border-radius: 43px;
  background: var(--colors-yellow-500, #af7b01);
}

picture > img {
  width: auto;
  height: 368px;
  object-fit: cover;
  object-position: 86px 0;
  aspect-ratio: 16/9;
}

/* ACCORDION */
section:last-child > div:nth-child(3) {
  display: flex;
  width: 87%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

div > div:has(details) {
  display: flex;
  padding: var(--space-xs, 12px) var(--space-xxs, 8px) var(--space-xs, 12px)
    var(--spacing-200);
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  background: var(--colors-gray-50);
}

details {
  display: flex;
  padding: var(--spacing-200) var(--space-l, 32px) var(--spacing-200) 0;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

summary span {
  font-size: 1.4rem;
}

summary button {
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
}

details > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200, 16px);
  align-self: stretch;
}

details p {
  color: var(--colors-gray-700, #837d88);
  margin: 0;
  /* Text Preset 7 - Karla Regular - 16px - 162.5% Line Height - 0px Line Spacing */
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
}

details img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 16px 0 2px;
}

footer {
  background: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1025px;

  position: relative;
}

footer section {
  display: flex;
  width: 87%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  flex-shrink: 0;
}

footer section > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
  align-self: stretch;
  background: transparent;
}

footer div:has(ul) {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400);
  align-self: stretch;
}

footer ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

footer li {
  text-align: center;
}

footer a {
  width: 100%;
  color: var(--colors-yellow-950);
  text-align: center;
  text-transform: uppercase;

  /* Text Preset 8 - Karla Bold - 13px - 115% Line Height - 1.5px Line Spacing */
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 14.95px */
  letter-spacing: 1.5px;
}

footer h3 {
  color: var(--colors-gray-700);
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  /* Text Preset 8 - Karla Bold - 13px - 115% Line Height - 1.5px Line Spacing */
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 14.95px */
  letter-spacing: 1.5px;
}

footer div:has(span) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200, 16px);
}

footer span {
  color: var(--colors-gray-700);
}

footer > span {
  color: var(--colors-gray-200);
  position: absolute;
  top: 0;
  left: 0;
}

footer img {
  width: 160px;
}
hr {
  height: 1px;
  width: 100%;
  background: var(--colors-gray-200);
}

div:last-child h2 {
  color: var(--colors-white, #fff);
  text-align: center;

  /* Text Preset 4 - DM Serif  Display Regular - 40px - 100% Line Height - -0.5px Line Spacing */
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
  letter-spacing: -0.5px;
}

main section > div:last-of-type {
  background-color: var(--colors-yellow-950);
  width: 87%;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section > div:last-of-type > div {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500, 40px);
}

.hidden {
  display: none;
}

nav[data-show="false"] {
  height: 0;
  opacity: 0;
}

.waves-1 {
  position: absolute;
  top: 368px;
  left: 0;
  color: var(--colors-yellow-500);
}

.waves-2 {
  position: absolute;
  top: -296px;
  right: 0;
  color: var(--colors-purple-500);
}
